/Week3/nbproject/private/
/NamesApp/nbproject/private/
/NamesApp/build/
/WebApplication1/nbproject/private/
/NamesApp/build.xml
/NamesApp4/NamesApp4/target/
/JavaCyclesJSTL/target/
/NamesApp6/target/
/JavaCyclesJSF/target/
/NamesApp8/target/
/NamesApp9/target/
/NamesApp10/target/
/TestApp/nbproject/private/
